<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlashForgeTimeLapse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FlashForgeTimeLapse.Properties.Settings>
            <setting name="StreamUrl" serializeAs="String">
                <value>http://192.168.1.121:8080/?action=stream</value>
            </setting>
            <setting name="TimeoutScreenshot" serializeAs="String">
                <value>30</value>
            </setting>
        </FlashForgeTimeLapse.Properties.Settings>
    </userSettings>
</configuration>